body{
  background-color: #040430;
}
.joined {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    background-color: #040430;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .joined_Classes_list {
    display: flex;
    flex-direction: column;
    height: 18.375rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 18.75rem;
    background-color:rgb(161, 160, 172);
    border: 0.0625rem solid #dadce0;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }
  .joined_Classes_teacher{
    padding: 10px 0px 0px 0px;
    color:white;
    font-weight: 500 !important;
    font-size: 17px !important;
  }
  .joined_Classes_imgWrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #174ea6;
  }
  .joined_Classes_image {
    background-image: url(https://gstatic.com/classroom/themes/Physics.jpg);
    height: 120%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .joined_Classes_container{
    position: relative;
  }
  .joined_Classes_content {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 4.5rem;
    padding: 1rem 1rem 0.75rem;
    position: relative;
  }
  .joined_Classes_Owner {
    color: rgb(247, 245, 245);
    padding: 8px 0px 0px 0px;
    font-weight: 500 !important;
    font-size: 17px !important;
    text-decoration: underline;
  }
  .joined_Classes_avatar {
    float: right;
    height: 4.2rem !important;
    position: relative !important;
    margin-top: -2.09375rem !important;
    width: 4.2rem !important;
    text-align: left;
  }
  .joined_Classes_title {
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    text-decoration: none;
  }
  .joined_Classes_title h2 {
    font-weight: 400;
  }
  .joined_Classes_title h2:hover {
    text-decoration: underline;
  }

  .joined_Classes_icons {
    margin-top: 40%;
    display: flex;
    color: #303031;
    justify-content: flex-end;
    border-top: 0.5px solid #a09d9d;
    padding: 10px;
  }
  .joined_Classes_icons > * {
    margin-right: 18px;
  }